<section>
    <div class="content"> <!-- 添加 content 类 -->
        <app-avatar class="avatar"></app-avatar> <!-- 添加 app-avatar 组件 -->
        <div class="title">
            HEADSPACE
        </div>
        <div class="subtitle">
            SUNNY... don't worry.<br>
            Everything is going to be okay.
        </div>
        <div class="social-buttons-container">
            <app-social-button platform="GitHub" url="https://t.me/Rimuru_Chiaki"
                               iconClass="fab fa-telegram" iconColor="#29A9EB"></app-social-button>
            <app-social-button platform="GitHub" url="https://github.com/Nanami-Qianqiu"
                               iconClass="fab fa-github" iconColor="black"></app-social-button>
            <app-social-button platform="GitHub" url="https://github.com/Nanami-Qianqiu"
                               iconClass="fab fa-github"></app-social-button>
            <app-social-button platform="GitHub" url="https://github.com/Nanami-Qianqiu"
                               iconClass="fab fa-github"></app-social-button>
        </div>
    </div>
</section>
